@charset "UTF-8";

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body
{
    background-color: #131319;
}

header
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 40px 0px;
}



.type-title
{
    color: #9e9ea0;
}

.type-presentation
{
    text-align: center;
    color:#DDDDDD;
    font-size: 1.3em;
    padding-bottom: 3px;
    margin-top: 5em;
}

h1 span
{
    color: #7d9bd6;
}

main p
{
    color: #bfbfd4;
    text-align: center;
    padding: 0px 12px;
    font-size: 0.9em;
    margin-bottom: 1.5em;
}

.type-search input
{
    color: #7f7f98;
    border: none;
    background-color: #1e1e29;
    padding: 1em;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 300px;
    font-size: 1em;
}

.type-search input:focus
{
    outline: 0;
    border: none;
}

.sugestoes {
    font-size: 1.3em;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 5px;
    max-height: 200px;
    overflow-y: auto;
    color: #DDDDDD;
    background-color: #3b3b54;
  }
  
  .sugestao-item {
    padding: 5px;
    cursor: pointer;
  }
  
  .sugestao-item:hover {
    background-color: #2d2d41;
  }
  
  .loader {
    display: none;
    position: absolute;
    top: 46.5%;
    left: 75%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #7d9bd6;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
    }
  

